<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	{% block style %}
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/footer.css">
	{% endblock %}
	{% block scripts %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('.top-ten-warp li:even').addClass('lieven');
		})
		$(function(){
			$("div.top-ten-warp").myScroll({
				speed:40, //数值越大，速度越慢
				rowHeight:68 //li的高度
			});
		});
	</script>
	{% endblock %}
</head>
<body>
{% block header%}
	{% include '../widget/header.html'%}
{% endblock %}

{% block content %}{% endblock %}

{% block footer%}
	{% include "../widget/footer.html" %}
{% endblock %}

{% block scripts %}
<script src="/javascripts/lib/jquery.js"></script>

{% endblock %}
</body>
</html>