<div class="footer">
    	<div class="information">
    		<img src="img/top-10.png">
    		<ul class="top-ten">
    			<li>
    				<span class="book-name">《盗墓笔记》</span>
    				<span class="writer">南派三叔</span>
    			</li>
    			<li>
    				<span class="book-name">《盗墓笔记》</span>
    				<span class="writer">南派三叔</span>
    			</li>
    			<li>
    				<span class="book-name">《盗墓笔记》</span>
    				<span class="writer">南派三叔</span>
    			</li>
    			<li>
    				<span class="book-name">《盗墓笔记》</span>
    				<span class="writer">南派三叔</span>
    			</li>
    			<li>
    				<span class="book-name">《盗墓笔记》</span>
    				<span class="writer">南派三叔</span>
    			</li>
    			<li>
    				<span class="book-name">《盗墓笔记》</span>
    				<span class="writer">南派三叔</span>
    			</li>
    			<li>
    				<span class="book-name">《盗墓笔记》</span>
    				<span class="writer">南派三叔</span>
    			</li>
    			<li>
    				<span class="book-name">《盗墓笔记》</span>
    				<span class="writer">南派三叔</span>
    			</li>
    			<li>
    				<span class="book-name">《盗墓笔记》</span>
    				<span class="writer">南派三叔</span>
    			</li>
    			<li>
    				<span class="book-name">《盗墓笔记》</span>
    				<span class="writer">南派三叔</span>
    			</li>
    		</ul>
    	</div>
    	<div class="shop-information">
    	<img src="img/information.png">
    		<ul class="shop">
    			<li>地址：西南民族大学</li>
    			<li>电话：12345648</li>
    			<li>邮箱：63131561@qq.com</li>
    		</ul>
    	</div>
    </div>