{%extends 'common/layout.html'%}
{% block title%}bookrack{% endblock %}

{%block style%}
{%parent%}
<link rel="stylesheet" href="../css/bookpage.css">
{{ title }}
{%endblock%}

{% block content %}
    <div class="bookpage-center">
        <div class="bookpage-warp">
            <dir class="left">
                <img src="img/xiuxi.jpg">
            </dir>
            <form class="right" action="/addorder-two" method="post">
                <p class="price ">漫长的中场休息-李安</p>
                <p class="price bookname">价格：$27</p>
                <div class="amount">
                    <span class="amount-txt">数量</span>
                    <input type="txt" name="bookamount" class="bookamount" value="1">
                    <div class="btn-warp">
                        <a href="javascript:void(0)" class="bookadd"></a>
                        <a href="javascript:void(0)" class="bookminus"></a>
                    </div>
                    
                </div>
                <button  class="buy">立即购买</button>
            </form>
            <div class="three">
                <img src="img/right.png" class="buttom-img">
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{%parent%}
<script type="text/javascript">
    $('.bookadd').click(function () {
        var sum = 1;
        sum = sum + Number($('.bookamount').val());
        $('.bookamount').val(sum);
        
    });
    $('.bookminus').click(function () {
        var sum = 1;
        var a = Number($('.bookamount').val()) - sum;
        if (a > 1) {
            $('.bookamount').val(a);
        } else {
            $('.bookamount').val(1);
        }
       
        
    });
</script>
{% endblock %}


