{%extends 'common/layout.html'%}
{% block title%}bookrack{% endblock %}

{%block style%}
{%parent%}
<link rel="stylesheet" href="../css/bookrack-hot.css">
<link rel="stylesheet" href="../css/bookrack-center.css">
{{ title }}
{%endblock%}

{% block content %}
 <div class="center">
        <div class="bookrack-mid">
            <div class="bookrack-hot">
                <ul class="hot-ul">
                    <li>
                        <div class="effect">
                            <a href="/bookpage">
                                <img src="/img/shisheng.jpg" class="book-img">
                            </a>
                        </div>
                        <div class="hot-lbl">
                            <b></b>
                            <div class="p-warp">
                                <p class="p1">时生</p>
                                <p class="p2">￥34</p>
                            </div>
                            
                        </div>
                    </li>
                    <li class="hot-ul-li">
                        <ul>
                            <li class="hot-title-left">
                                <p>BOOKRACK</p>
                                <p>HOT</p>
                            </li>
                            <li class="hot-title-right">
                                <p>火热推介</p>
                            </li>
                        </ul>
                        <p id="p1-1">Love is a lamp, while friendship is the shadow. When the lamp is off,you will find the shadow everywhere. Friend is who can give you strength at last.</p>
                        <p id="p1-1">爱情是灯，友情是影子，当灯灭了，你会发现你的周围都是影子。朋友，是在最后可以给你力量的人</p>
                    </li>
                        <li>
                            <div class="effect">
                                <a href="/bookpage">
                                    <img src="/img/shisheng.jpg" class="book-img">
                                </a>
                            </div>
                            <div class="hot-lbl">
                                <b></b>
                                <div class="p-warp">
                                    <p class="p1">时生</p>
                                    <p class="p2">￥34</p>
                                </div>
                            </div>
                        </li>
                </ul>
                <ul class="hot-ul-2">
                    <li class="hot-ul-2-li">
                        <div class="effect">
                            <a href="/bookpage">
                                <img src="img/shisheng.jpg" class="book-img">
                            </a>
                        </div>
                        <div class="hot-lbl">
                            <b></b>
                            <div class="p-warp">
                                <p class="p1">时生</p>
                                <p class="p2">￥34</p>
                            </div>
                        </div>
                    </li>
                    <li class="hot-ul-2-li">
                        <div class="effect">
                            <a href="/bookpage">
                                <img src="img/shisheng.jpg" class="book-img">
                            </a>
                        </div>
                        <div class="hot-lbl">
                            <b></b>
                            <div class="p-warp">
                                <p class="p1">时生</p>
                                <p class="p2">￥34</p>
                            </div>
                        </div>
                    </li>
                    <li class="hot-ul-2-li">
                        <div class="effect">
                            <a href="/bookpage">
                                <img src="img/shisheng.jpg" class="book-img">
                            </a>
                        </div>
                        <div class="hot-lbl">
                            <b></b>
                            <div class="p-warp">
                                <p class="p1">时生</p>
                                <p class="p2">￥34</p>
                            </div>
                        </div>
                    </li>
                    <li class="hot-ul-2-li">
                        <div class="effect">
                            <a href="/bookpage">
                                <img src="img/shisheng.jpg" class="book-img">
                            </a>
                        </div>
                        <div class="hot-lbl">
                            <b></b>
                            <div class="p-warp">
                                <p class="p1">时生</p>
                                <p class="p2">￥34</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="best-seller">
                <div class="seller-title hot-ul-li">
                    <ul class="hot-ul seller-ul">
                        <li class="hot-title-left seller-title-left">
                            <p>CURRENT</p>
                            <p>PRODUCTS</p>
                        </li>
                        <li class="hot-title-right seller-title-right">
                            <p>热卖</p>
                        </li>
                    </ul>
                </div>
                <div class="seller-book">
                    <ul>
                        <li class="seller-book-li">
                            <div class="seller-book-wrap effect">
                                <a href="/bookpage-three">
                                    <img src="img/huanye.jpg" class="book-img">
                                </a>
                            </div>
                            <a href="/bookpage-three">
                                <h1 class="h1">幻夜</h1>
                                <p class="h1">￥26</p>
                            </a>
                        </li>
                        <li class="seller-book-li">
                            <div class="seller-book-wrap effect">
                                <a href="/bookpage-three">
                                    <img src="img/huanye.jpg" class="book-img">
                                </a>
                            </div>
                            <a href="/bookpage-three">
                                <h1 class="h1">幻夜</h1>
                                <p class="h1">￥26</p>
                            </a>
                        </li>
                        <li class="seller-book-li">
                            <div class="seller-book-wrap effect">
                                <a href="/bookpage-three">
                                    <img src="img/huanye.jpg" class="book-img">
                                </a>
                            </div>
                            <a href="/bookpage-three">
                                <h1 class="h1">幻夜</h1>
                                <p class="h1">￥26</p>
                            </a>
                        </li>
                        <li class="seller-book-li">
                            <div class="seller-book-wrap effect">
                                <a href="/bookpage-three">
                                    <img src="img/huanye.jpg" class="book-img">
                                </a>
                            </div>
                            <a href="/bookpage-three">
                                <h1 class="h1">幻夜</h1>
                                <p class="h1">￥26</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<!-- {% if user %}
{% block planModal %}
{% parent %}
{% endblock %}
{% endif %}

{%block script%}
{%parent%}
{%endblock%} -->
