{%extends 'common/layout.html'%}
{% block title%}bookrack{% endblock %}

{%block style%}
{%parent%}
<link rel="stylesheet" href="../css/bookpage.css">
{{ title }}
{%endblock%}

{% block content %}
    <div class="bookpage-center">
        <div class="bookpage-warp">
            <dir class="left">
                <img src="img/shisheng.jpg">
            </dir>
            <form class="right">
                <p class="price">$34</p>
                <a href="" class="buy"><p class="goumai">立即购买</p></a>
            </form>
            <div class="three">
                <img src="img/right.png" class="buttom-img">
            </div>
        </div>
    </div>
{% endblock %}

