{%extends 'common/layout.html'%}
{% block title%}bookrack{% endblock %}

{%block style%}
{%parent%}
<link rel="stylesheet" href="../css/bookpage.css">
{{ title }}
{%endblock%}

{% block content %}
    <div class="bookpage-center">
        <div class="bookpage-warp">
            <dir class="left">
                <img class="bigimg" src="img/shisheng.jpg">
                <ul class="tb-thumb">
                    <li class="minimg">
                        <div href="#" class="minwarp J-minwarp">
                            <img  src="img/shisheng.jpg" class="">
                        </div>
                    </li>
                     <li class="minimg">
                        <a href="#" class="minwarp J-minwarp">
                            <img src="img/shisheng1.jpg">
                        </a>
                    </li>
                     <li class="minimg">
                        <a href="#" class="minwarp J-minwarp">
                            <img src="img/shisheng2.jpg" >
                        </a>
                    </li>
                </ul>
            </dir>
            <form class="right" action="/addorder" method="post">
                <p class="price ">时生-东野圭吾</p>
                <div class="tm-back">
                    <dl class="tm-price-panel">
                        <dt class="tb-metatit">价格</dt>
                        <dd>
                            <em class="tm-yen">￥</em>
                            <span class="tm-price tm-yuanjia">41.00</span>
                        </dd>
                    </dl>
                    <dl class="tm-price-panel">
                        <dt class="tb-metatit tb-cuxiao">促销价</dt>
                        <dd>
                            <em class="tm-yen tm-cu">￥</em>
                            <span class="tm-price tm-cuxiao">34.00</span>
                        </dd>
                    </dl>
                </div>
                <div class="tb-meta">
                    <dl class="tm-delivery-panel">
                        <dt class="tb-metatit">运费</dt>
                        <dd>
                            <span class="yunfei">北京&nbsp;至&nbsp;成都&nbsp;:&nbsp;0.00</span>
                        </dd>
                    </dl>
                </div>
                <ul class="tm-ind-panel">
                    <li class="tm-ind-item">
                        <div class="tm-indcon">
                            <span class="tm-label">月销量</span>
                            <span class="tm-count">14337</span>
                        </div>
                    </li>
                    <li class="tm-ind-item">
                        <div class="tm-indcon">
                            <span class="tm-label">送书店积分</span>
                            <span class="tm-count">11</span>
                        </div>
                    </li>
                    <li class="tm-ind-item">
                        <div class="tm-indcon">
                            <span class="tm-label">累积评价</span>
                            <span class="tm-count">1457</span>
                        </div>
                    </li>
                </ul>
                <div class="amount">
                    <span class="amount-txt">数量</span>
                    <input type="txt" name="bookamount" class="bookamount" value="1">
                    <div class="btn-warp">
                        <a href="javascript:void(0)" class="bookadd"></a>
                        <a href="javascript:void(0)" class="bookminus"></a>
                    </div>
                    
                </div>
                <button  class="buy">立即购买</button>
            </form>
            <div class="zhuangshi">
                <img src="img/qipao.png">
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{%parent%}
<script type="text/javascript" src="../js/bookage.js"></script>
{% endblock %}

