<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>enter_page</title>
	<link rel="stylesheet" type="text/css" href="../css/enter_page.css">
</head>
<body>
	<div class="enter-back">
	<form class="login-warp" action="/uenter" method="post">
		 <img src="/img/login-icon.png"><br/>
		<span>Login</span>
		<div class="enter-form">
			<ul>
				<li>
				    <i class="icon user-name"></i>
					<input type="text" name="username">
				</li>
				<li> 
					<i class="icon user-password"></i>
					<input type="password" name="password">
				</li>
			</ul>
		</div>
		<div class="login-btn">
			<a href="/login"><p class="login">Login</p></a>
		</div>
		<div class="login-btn">
			<button>Enter</button>
		</div>
	</form>
       
	</div>
</body>
</html>