<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>home_page</title>
	<link rel="stylesheet"  href="../css/home_page.css">
	<link rel="stylesheet"  href="../css/home_page_center.css">
	<link rel="stylesheet"  href="../css/home_page_footer.css">

</head>
<body>

	<div class="header">
			<div class="back_warp">
				<ul class="back">
					<li class="back_img" data-img="1"><img src="/img/1.jpg" ></li>
					<li class="back_img" data-img="2"><img src="/img/2.jpg"></li>
                    <li class="back_img" data-img="3"><img src="/img/3.jpg"></li>
                    <li class="back_img" data-img="4"><img src="/img/4.jpg"></li>
                    <li class="back_img" data-img="5"><img src="/img/5.jpg"></li>
				</ul>
            </div>
				<div class="btn-warp">
					<a href="javascript:void(0)" class="btn-prev">
						<span class="arrow-bg arrow-span" ></span>
						<span class="arrow-ico arrow-span" ></span>
					</a>
				
					<a href="javascript:void(0)" class="btn-next" >
						<span class="arrow-bg arrow-span"></span>
						<span class="arrow-ico arrow-span" ></span>
					</a>
				</div>
				<div class="enter"><a href="/enter">Enter</a></div>
			
	</div>

    <div class="center">
    	<div class="about">
    		<span>about us</span>
    		<p class="preface">易书阁为同学们提供各种二手书籍，将成为最受追捧的二手书店</p>
			<p class="main-txt"> “易书阁”二手书店为广大在校大学生提供专业书，四六级 ，考研，小说等多种类别书籍。不但充分利用了书籍的可循环利用性，同时为在校大学生解决了崭新书籍价格偏高的问题。
            同时本书店提供“以物易物”服务。本书店将开设“易书区”。将一部分的书籍放入“易书区”内。顾客可将自己已有的书籍与“易书区”内的书籍任意兑换。
            </p>
		</div>
    	<div class="bookranck book">
    		<div>
    			
    		</div>
    		    <a href="/bookrack">Bookrack</a>
    	</div>
    	<div class="swop book">
    		<div>
    			
    		</div><a href="/cobinet">Cobinet</a>
    	</div>
    </div>
    <div class="footer">
    	<div class="information">
    		<img src="/img/top-10.png">
            <div class="top-ten-warp">
                <ul class="top-ten">
                <li class="top-ten-li">
                    <span class="book-name">《盗墓笔记》</span>
                    <span class="writer">南派三叔</span>
                </li>
                <li class="top-ten-li">
                    <span class="book-name">《私募操盘》</span>
                    <span class="writer">连升</span>
                </li>
                <li class="top-ten-li">
                    <span class="book-name">《平凡的世界》</span>
                    <span class="writer">路遥</span>
                </li>
                <li class="top-ten-li">
                    <span class="book-name">《穆斯林的葬礼》</span>
                    <span class="writer">霍达</span>
                </li>
                <li class="top-ten-li">
                    <span class="book-name">《白夜行》</span>
                    <span class="writer">东野圭吾</span>
                </li>
                <li class="top-ten-li">
                    <span class="book-name">《同级生》</span>
                    <span class="writer">东野圭吾</span>
                </li>
                <li class="top-ten-li">
                    <span class="book-name">《挪威的森林》</span>
                    <span class="writer">村上春树</span>
                </li>
                <li class="top-ten-li">
                    <span class="book-name">《秒速五厘米》</span>
                    <span class="writer">'新海诚</span>
                </li>
                <li class="top-ten-li">
                    <span class="book-name">《教父》</span>
                    <span class="writer">马里奥·普佐</span>
                </li>
                <li class="top-ten-li">
                    <span class="book-name">《苏菲的世界》</span>
                    <span class="writer">乔斯坦·贾德</span>
                </li>
            </ul>
            </div>
    		
    	</div>
    	<div class="shop-information">
    	<img src="/img/information.png">
    		<ul class="shop">
    			<li>地址：西南民族大学</li>
    			<li>电话：12345648</li>
    			<li>邮箱：63131561@qq.com</li>
    		</ul>
    	</div>
    </div>
    <script type="text/javascript" src="../javascripts/lib/jquery.js"></script>
    
    <script type="text/javascript" src="../js/home_page.js"></script>
    <script type="text/javascript" src="../js/scroll.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.top-ten-warp li:even').addClass('lieven');
        })
        $(function(){
            $("div.top-ten-warp").myScroll({
                speed:40, //数值越大，速度越慢
                rowHeight:20 //li的高度
            });
        });
    </script>
</body>
</html>