<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>enter_page</title>
	<link rel="stylesheet" type="text/css" href="../css/enter_page.css">
</head>
<body>
	<div class="enter-back">
	<div class="login-warp">
		 <img src="/img/login-icon.png"><br/>
		<span>Login</span>
		<div class="enter-form">
			<ul>
				<li>
				    
				    <i class="icon user-name"></i>
					<input type="text" name="" placeholder="请输入用户名">
				</li>
				<li> 
					<i class="icon user-password"></i>
					<input type="password" name="" placeholder="请输入密码">
				</li>
				
				<li> 
					<i class="icon user-password"></i>
					<input type="password" name="" placeholder="再次输入密码">
				</li>
			
				<li> 
					<i class="icon user-email"></i>
					<input type="text" name="" placeholder="请输入邮箱">
				</li>
			</ul>
		</div>
		<div class="login-btn">
			<a href="/enter"><p class="login">Finish</p></a>
		</div>
	</div>
       
	</div>
</body>
</html>