<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>enter_page</title>
	<link rel="stylesheet" type="text/css" href="../css/enter_page.css">
</head>
<body>
	<div class="enter-back">
	<form class="login-warp" method="post" action="/ulogin">
		 <img src="/img/login-icon.png"><br/>
		<span>Login</span>
		<div class="enter-form"  >
			<ul>
				<li>
				    
				    <i class="icon user-name"></i>
					<input type="text" name="username" placeholder="请输入用户名">
				</li>
				<li> 
					<i class="icon user-password"></i>
					<input type="password" name="password" placeholder="请输入密码">
				</li>
				
				<li> 
					<i class="icon user-password"></i>
					<input type="password" name="rpassword" placeholder="再次输入密码">
				</li>
			
				<li> 
					<i class="icon user-email"></i>
					<input type="text" name="email" placeholder="请输入邮箱">
				</li>
			</ul>
		</div>
		<div class="login-btn">
			<button class="login" type="submit">Finsh</button>
		</div>
	</form>
       
	</div>
</body>
</html>