{%extends 'common/layout.html'%}

{%block style%}
{%parent%}
<link rel="stylesheet" href="../css/personal-site-mid.css">
{%endblock%}

{% block content %}
<form class="personal-mid" method="post"  action="" name="site">
        <div class="mid-main">
            <div class="one">
                <div class="portrait">
                    <a href=""><img src="img/01.jpg"><br/></a>
                    <span>{{user}}</span>
                </div>
                <div class="mybook">
                    <span>我的书籍</span>   
                </div>
                <ul class="menus">
                    <li class="mydeal menus-title">我的交易</li>
                    <li><a href="/personal" class="menuslink"  target="_self">我的订单</a></li>
                    <li class="myaccout menus-title">我的账户</li>
                    <li><a href="/personal-data" class="menuslink"  target="_self">个人资料</a></li>
                    <li><a href="/personal-site" class="menuslink"  target="_self">收货地址</a></li>
                </ul>
            </div>
            <div class="two">
                 <div class="data-title">
                        <span class="title-one">收货地址薄</span>
                        <span class="title-two">|RECEIVING ADDRESS BOOK|</span>

                </div>  
                <img src="img/shu2.png" class="shu">
                <div class="mid-tabs">
                    <li>
                        <span class="active">地址信息</span>
                    </li>
                </div>
                <div class="mid-tabs-bd">
                        <div class="sum-1">
                            <div class="add">
                                <input type="button" name="" class="xinzeng" onclick="ShowDiv('popup','fade')" value="新增收货人信息">  
                            </div>
                        </div>     
                </div>
                <div class="sum-warp" style="width: 720px;height:50px;">
                     <div class="sum">
                        <div class="sum-1 bd">姓名</div>
                        <div class="sum-2 bd">地址</div>
                        <div class="sum-3 bd">电话</div>
                    </div> 
                </div>
                   
                    {% for item in site %}
                        {% if userId == item.siteid %}
                        <div class="addsite-warp">
                             <div class="addsite" >
                                <div class="sum-1 bd" data-id="{{item.id}}">{{item.sitename}}</div>
                                <div class="sum-2 bd">{{item.siteaddress}}</div>
                                <div class="sum-3 bd">{{item.phone}}</div>
                                <input type="button" value="删除" class="sum-4 J-delete" id="delete" >
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
        </div>
   </div>
        <div id="fade" class="black_overlay" style="display:none"></div>
        <div class="popup" id="popup" style="display:none">
        <a class="close" style="font-size: 16px;" onclick="CloseDiv('popup','fade')">关闭</a>
            <ul class="site-warp">
                <li class="site">姓名：<input type="text" name="sitename"></li>
                <li class="site">地址：<input type="text" name="siteaddress"></li>
                <li class="site">电话：<input type="text" name="phone"></li>
            </ul>
            
            <input type="button" value="保存收货人信息" class="xinzeng site-btn" name="baocun" onclick="Baocun()">
       </div>
   
</form>

{% endblock %}

{% block scripts %}
{%parent%}
   <script type="text/javascript" src="../js/person_site.js"></script>
{% endblock %}
