{%extends 'common/layout.html'%}

{%block style%}
{%parent%}
<link rel="stylesheet" href="../css/personal-site-mid.css">
{%endblock%}

{% block content %}
<div class="personal-mid">
        <div class="mid-main">
            <div class="one">
                <div class="portrait">
                    <a href=""><img src="img/01.jpg"><br/></a>
                    <span>earsuo</span>
                </div>
                <div class="mybook">
                    <span>我的书籍</span>
                </div>
                <ul class="menus">
                    <li class="mydeal menus-title">我的交易</li>
                    <li><a href="file:///D:/hyk/Mygraduationproject/enter_page/enter_page.html" class="menuslink"  target="_self">我的订单</a></li>
                    <li class="myaccout menus-title">我的账户</li>
                    <li><a href="" class="menuslink"  target="_self">个人资料</a></li>
                    <li><a href="" class="menuslink"  target="_self">收货地址</a></li>
                </ul>
            </div>
            <div class="two">
                 <div class="data-title">
                        <span class="title-one">收货地址薄</span>
                        <span class="title-two">|RECEIVING ADDRESS BOOK|</span>

                </div>  
                <img src="img/shu2.png" class="shu">
                <div class="mid-tabs">
                    <li>
                        <span class="active">地址信息</span>
                    </li>
                </div>
                <div class="mid-tabs-bd">
                        <div class="sum-1">
                            <div class="add">
                                <a href="" class="xinzneg">新增收货人信息</a>
                            </div>
                        </div>
                        <div class="sum-3">
                            <div class="sum-3-1 sumjuli">
                                <button class="data-btn">
                                    保存基本信息
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="three">
                <img src="img/right.png" class="buttom-img">
            </div>
            </div>
            
        </div>
    
{% endblock %}

{% if user %}
{% block planModal %}
{% parent %}
{% endblock %}
{% endif %}

{%block script%}
{%parent%}
{%endblock%}
