.bookpage-center {
	background:url("/img/back.jpg"); 
	background-repeat: no-repeat;
	background-size: 1920px;
	height: 1079px;
}
.bookpage-warp {
	width: 1100px;
	height: 800px;
	background: #fff;
	margin: 0 auto;
	position: relative;
	top: 140px;
}
.left {
	margin-left: 20px;
	margin-top: 20px;
	width: 500px;
	height:500px;
	float: left;
}
.left img {
   width: 500px;
	height:500px;
}
.left img:hover {
    box-shadow: 2px 2px 2px #565656;;
}
.right {
	margin-top: 130px;
	float: left;
	width: 400px;
	height: 400px;
	text-align: center;
}
.price {
	font-size: 27px;
}
.bookname {
	color: red;
}
.buy {
	text-decoration: none;
	display: inline-block;
	margin-top: 100px;
	border: none;
    outline:medium;
    width: 160px;
    height: 30px;
   	color: #fff;
	 font-size: 15px;
    background-color: #262e38;
   
    border-radius: 10px;
} 
.buy:hover {
    background: #293C4B;
}
.buttom-img {
	width: 300px;
	height: 300px;
	float: right;
	margin-top: -34px;
}
.amount {
	width:160px;
	margin-left: 114px;
	margin-top: 20px;
}
.amount-txt {
	color: #838383;
	font-size: 18px;
	float: left;
	margin-top: 14px;
}
.bookamount {
	color: #838383;
	width: 40px;
	outline: none;
	height: 50px;
	text-align: center;
}
.btn-warp {
	width: 14px;
	height: 54px;
	float: right;
}
.bookadd {
	display: inline-block;
    background-image: url("/img/icons.png");
    height: 18px;
    width: 14px;
    background-position: 56px 22px;
    border: 1px solid #a7a6ab;
}
.bookminus {
	display: inline-block;
    background-image: url("/img/icons.png");
    height: 18px;
    width: 14px;
    background-position: 44px 26px;
    float: left;
    margin-top: 8px;
    border: 1px solid #a7a6ab;
}