*{
   margin: 0;
   padding: 0;
   color: #000;
   font-size:20px;
   font-family: "微软雅黑";
}
body {
	background-color: #f1f0eb;
}
.personal-header {
	width: 1349px;
	height: 148px;
	background-color: #262e38;
}
.personal-header img {
	float: left;
	margin-left: 122px;
}
.top-title a {
	display: inline-block;
	width: 57px;
	height: 50px;
	text-decoration: none;
	margin-left: 200px;
	margin-top: 40px;
}
.top-title a:hover {
	border-bottom: 2px solid #fff;
}
.top-title p{
	font-size: 12px;
    color: #fff;
}
.top-title span {
	color: #fff;
}
#personal {
	margin-left: 0px;
	width: 57px;
	height: 20px;
}
.input-group {
	width: 150px;
	float: right;
	margin-top: 44px;
	margin-right: 31px;
}
.input-group p {
    position: relative;
    top: -24px;
}
.form-control {
	width: 100px;
	outline: none;
	float: left;
}

.btn-primary {
	position: relative;
	top: -2px;
	text-align: center;
	width: 44px;
	height: 30px;
	font-size: 15px;
	color: #fff;
	font-weight: bold;
	background: #262e38;
	border: none;
	outline: none;
}
.btn-primary:hover {
    background: #293C4B
}