.personal-mid {
	background:url("/img/back.jpg"); 
	background-repeat: no-repeat;
	background-size: 1920px;
	height: 1079px;
}
.mid-main {
	color: #000;
	width: 1100px;
	height: 800px;
	background-color: #fff;
	margin: 0 auto;
	position: relative;
	top: 140px;
}
.one {
	float: left;
	width: 200px;
	border-right: 1px solid #ccc;
	margin-top: 15px;
	margin-left: 15px;
}
.portrait {
	width: 200px;
	height: 200px;
}
.portrait img {
	width: 100px;	
	height: 100px;
	margin-left: 50px;
	margin-top: 50px;
}
.portrait span {
	margin-left:65px;
}
.mybook {
	font-size: 25px;
	font-weight: bold;
	width: 200px;
	height: 40px;
	text-align: center;
	border-bottom: 2px solid #000;
}
.menus li {
	list-style: none;
	width: 200px;
	height: 40px;
	text-align: center;
	margin-top: 10px;
}
.menus-title {
	margin-top: 20px;
	border-bottom: 1px solid #ccc;
}
.menuslink {
	width: 200px;
	height: 20px;
	display: inline-block;
	text-decoration: none;
	font-size: 15px;
}
.menuslink:hover {
	background-color: #ccc;
}
.two {
	width: 704px;
	float: left;
	margin: 25px;
}
.mid-tabs li {
	list-style: none;
}
.mid-tabs {
	text-align: center;
	width: 160px;
	height: 37px;
}
.mid-tabs-bd {
	height: 50px;
	width: 75px;
}
.bd {
	width: 122px;
	height: 40px;
	float: left;
	margin-left:75px;
	margin-top: 10px;
	font-size: 15px;
	color: #000;
}
.shu {
	width: 300px;
	height: 150px;
	margin-left: 300px;
}
.data-title {
	width: 887px;
	height: 30px;
	margin-bottom: 10px;
	margin-top: 50px;
}
.title-two {
	color: #ccc;
}
.sum-1 {
	width: 75px;
	height: 40px;
}
.sum {
	float: left;
}
.add {
    margin-top: 20px;
    width: 160px;
    height: 30px;
    font-size: 15px;
    background-color: #262e38;
    color: #fff;
    border-radius: 10px;
}
.xinzeng{
	 border: none;
    outline:medium;
    width: 160px;
    height: 30px;
    font-size: 15px;
    background-color: #262e38;
    color: #fff;
    border-radius: 10px;
}
.add:hover {
    background: #293C4B;
}
.buttom-line {
	border-bottom: 1px solid #ccc;
}
.buttom-img {
	width: 300px;
	height: 300px;
	float: right;
	margin-top: 236px;
}
.data-btn {
    border: none;
    outline:medium;
    width: 160px;
    height: 30px;
    font-size: 15px;
    background-color: #262e38;
    color: #fff;
    border-radius: 10px;
}
.data-btn:hover {
    background: #293C4B;
}
.buttom-img {
	width: 300px;
	height: 300px;
	float: right;
	margin-top: 114px;
}

.add-form {
	width: 550px;
	height: 380px;
	display: none;
	position: absolute;
	top: 308px;
	left: 631px;
	background-color: #fff;
}
.form-content {
	width: 500px;
	height: 323px;
}
.form-title a{
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
	margin-left: 30px;

}
.active-li {
	list-style: none;
}
.form-main {
	border-top: 1px solid #ccc;
	margin-top: 20px;
	margin-left: 30px;
}
.list div {
	float: left;
	font-size: 15px;
	margin-top: 10px;
	width: 663px;

}
.list input {
	font-size: 15px;
	border: none;
	outline:medium;
	margin-left: 20px;
	border-bottom: 1px solid #ccc;
}
.list {
	height: 50px;
	margin-left: 30px;
	margin-top: 20px;
}
.phone {
	padding-left: 17px;
}.people {
	padding-left: 17px;
}
.form-btn {
	margin-top: 18px;
	margin-left: 160px;
}
.addsite {
	float: left;
}
.popup {
	z-index: 1001;
	position: absolute;
	top: 420px;
	left: 450px;
	width: 400px;
	height: 300px;
	background: #fff;
}
.site-warp {
   padding-top: 47px;
   padding-left: 69px;
}
.site {
	list-style: none;
	padding-top: 10px;
}
.site input{
	font-size: 15px;
	outline:medium;
	outline: none;
}

.site-btn {
	margin-top: 53px;
	margin-left: 132px;
}
.black_overlay{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 1528px;
	background-color: black;
	z-index:1000;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.close {
   position: relative;
   top: 10px;
   left: 346px;
   display: inline-block;
}
.sum-4 {
	border: none;
    outline:medium;
    width: 52px;
    height: 22px;
    font-size: 10px;
    background-color: #262e38;
    color: #fff;
    border-radius: 6px;
    margin-top: 9px;
    margin-left: 65px;
}
.sum-warp {
	border-bottom: 1px solid #ccc;
}
.addsite-warp {
	width: 720px;
	height: 50px;
	border-bottom: 1px solid #ccc;
}