<div class="footer">
    	<div class="information">
    		<img src="/img/top-10.png">
    		<ul class="top-ten">
    			<li>
    				<span class="book-name">《盗墓笔记》</span>
    				<span class="writer">南派三叔</span>
    			</li>
    			<li>
    				<span class="book-name">《私募操盘》</span>
    				<span class="writer">连升</span>
    			</li>
    			<li>
    				<span class="book-name">《平凡的世界》</span>
    				<span class="writer">路遥</span>
    			</li>
    			<li>
    				<span class="book-name">《穆斯林的葬礼》</span>
    				<span class="writer">霍达</span>
    			</li>
    			<li>
    				<span class="book-name">《白夜行》</span>
    				<span class="writer">东野圭吾</span>
    			</li>
    			<li>
    				<span class="book-name">《同级生》</span>
    				<span class="writer">东野圭吾</span>
    			</li>
    			<li>
    				<span class="book-name">《挪威的森林》</span>
    				<span class="writer">村上春树</span>
    			</li>
    			<li>
    				<span class="book-name">《秒速五厘米》</span>
    				<span class="writer">'新海诚</span>
    			</li>
    			<li>
    				<span class="book-name">《教父》</span>
    				<span class="writer">马里奥·普佐</span>
    			</li>
    			<li>
    				<span class="book-name">《苏菲的世界》</span>
    				<span class="writer">乔斯坦·贾德</span>
    			</li>
    		</ul>
    	</div>
    	<div class="shop-information">
    	<img src="/img/information.png">
    		<ul class="shop">
    			<li>地址：西南民族大学</li>
    			<li>电话：12345648</li>
    			<li>邮箱：63131561@qq.com</li>
    		</ul>
    	</div>
    </div>