<div class="personal-header">
		<img src="/img/play.png">
		<div class="top-title">
			<a href="/">
				<span>Home</span><br/>
				<p>首页</p>
			</a>
			<a href="/bookrack">
				<span>Bookrack</span><br/>
				<p>书架</p>
			</a>
			<a href="/cobinet">
				<span>Cobinet</span><br/>
				<p>易阁</p>
			</a>
			
				{% if user %}	
                	 <a href="/personal-data"><p>{{ user }}的个人中心</p></a>
                {% else %}
               		<a href="/enter" class="J-trigger" id="personal"><p>登录</p></a>
                {% endif %}
			
		</div>
	</div>