<div class="personal-header">
		<img src="/img/play.png">
		<div class="top-title">
			<a href="/">
				<span>Home</span><br/>
				<p>首页</p>
			</a>
			<a href="/bookrack">
				<span>Bookrack</span><br/>
				<p>书架</p>
			</a>
			<a href="/cobinet">
				<span>Cobinet</span><br/>
				<p>易阁</p>
			</a>
			<form class="input-group" method="post" action="/search">
			    <input type="text" class="form-control input-lg" name="bookname">
			    <button  class="input-group-addon btn btn-primary">搜索</button> 

			    {% if user %}	
                	 <a href="/personal-data" id="personal"><p>{{ user }}的个人中心</p></a>
                {% else %}
               		<a href="/enter" class="J-trigger" id="personal"><p>登录</p></a>
                {% endif %}

			</form>
			
				
			
		</div>
	</div>